{% load static %}
{% include './layout/header.html' %}
<div class="container">
    <h4>Tentang Aplikasi:</h4>
    <p class="desc">
        Aplikasi Indentifikasi OPT Padi merupakan sistem yang mampu mengklasifikasikan sebuah gambar daun padi kedalam suatu kondisi terserang OPT atau tidak.
        Sistem ini mampu mengidentifikasi dalam empat kelas yang terdiri dari tiga kelas OPT (<i>Brown Spot</i>, <i>Hispa</i>, dan <i>Leaf Blast</i>) dan satu kelas Sehat.
        <br><br>
        Aplikasi ini dibangun dengan menggunakan teknologi seperti Python, Tensorflow, Keras sebagai proses <i>Machine Learning</i> dan Django sebagai <i>deployment</i> ke aplikasi web.
    </p>
</div>
{% include './layout/footer.html' %}