{% load static %}
{% include './layout/header.html' %}

<main class="container">
    <!-- form -->
    <h1 class="heading">Unggah Gambar Daun Padi.</h1>
    <form method="POST" enctype="multipart/form-data" class="form">{% csrf_token %}
        <div class="form__group">
            <input class="form__input--file" type="file" name="gambar" id="gambar" required>
            <label for="gambar" class="form__label">
                <img src="{% static 'icons/upload.svg' %}" alt="upload" class="form__icon form__icon--upload">
                <span>Pilih Gambar</span>
            </label>
        </div>
        <button type="submit" class="form__submit">
            <img src="{% static 'icons/search.svg' %}" alt="search" class="form__icon form__icon--search">
            <span>Identifikasi</span>
        </button>
    </form>

    <!-- loading -->
    <p class="loading hidden">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="loading--icon">
            <g data-name="Layer 2">
                <g data-name="loader">
                    <rect width="24" height="24" transform="rotate(180 12 12)" opacity="0" />
                    <path d="M12 2a1 1 0 0 0-1 1v2a1 1 0 0 0 2 0V3a1 1 0 0 0-1-1z" />
                    <path d="M21 11h-2a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2z" />
                    <path d="M6 12a1 1 0 0 0-1-1H3a1 1 0 0 0 0 2h2a1 1 0 0 0 1-1z" />
                    <path d="M6.22 5a1 1 0 0 0-1.39 1.47l1.44 1.39a1 1 0 0 0 .73.28 1 1 0 0 0 .72-.31 1 1 0 0 0 0-1.41z" />
                    <path
                        d="M17 8.14a1 1 0 0 0 .69-.28l1.44-1.39A1 1 0 0 0 17.78 5l-1.44 1.42a1 1 0 0 0 0 1.41 1 1 0 0 0 .66.31z" />
                    <path d="M12 18a1 1 0 0 0-1 1v2a1 1 0 0 0 2 0v-2a1 1 0 0 0-1-1z" />
                    <path d="M17.73 16.14a1 1 0 0 0-1.39 1.44L17.78 19a1 1 0 0 0 .69.28 1 1 0 0 0 .72-.3 1 1 0 0 0 0-1.42z" />
                    <path
                        d="M6.27 16.14l-1.44 1.39a1 1 0 0 0 0 1.42 1 1 0 0 0 .72.3 1 1 0 0 0 .67-.25l1.44-1.39a1 1 0 0 0-1.39-1.44z" />
                </g>
            </g>
        </svg>
        <span>Sedang diproses, mohon tunggu...</span>
    </p> 

    {% if url %}
    <div class="result">
        <h2 class="heading heading--result">Hasil Identifikasi</h2>
        <div class="result__list">
            <p class="result__title">CNN (<span>Convolutional Neural Network</span>)</p>
            <div class="result__item">
                <p class="result__label">Gambar: </p>
                <img class="result__data result__data--img" src="{{ url }}" alt="uploaded">
                <!-- <img class="result__data result__data--img" src="{% static 'img/header-banner.jpg' %}" alt="uploaded"> -->
            </div>
            <div class="result__item">
                <p class="result__label">Nama OPT: </p>
                <p class="result__data result__data--identifier"><strong>{{ label.cnn }}</strong></p>
            </div>
            <div class="result__item">
                <p class="result__label">Deskripsi: </p>
                <p class="result__data result__data--desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate nobis excepturi officia rem repudiandae voluptates perspiciatis? Sunt obcaecati dolore quia eaque. Sint ut provident minus officia molestiae aperiam, odit dignissimos.</p>
            </div>
        </div>
        <div class="result__list">
            <p class="result__title">Feature Learning CNN + LVQ (<span>Learning Vector Quantization</span>)</p>
            <div class="result__item">
                <p class="result__label">Gambar: </p>
                <img class="result__data result__data--img" src="{{ url }}" alt="uploaded">
                <!-- <img class="result__data result__data--img" src="{% static 'img/header-banner.jpg' %}" alt="uploaded"> -->
            </div>
            <div class="result__item">
                <p class="result__label">Nama OPT: </p>
                <p class="result__data result__data--identifier"><strong>{{ label.lvq }}</strong></p>
            </div>
            <div class="result__item">
                <p class="result__label">Deskripsi: </p>
                <p class="result__data result__data--desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate nobis excepturi officia rem repudiandae voluptates perspiciatis? Sunt obcaecati dolore quia eaque. Sint ut provident minus officia molestiae aperiam, odit dignissimos.</p>
            </div>
        </div>
    </div>

    {% else %}
    <div class="instruction">
        <p class="instruction__title">Petunjuk:</p>
        <ul class="instruction__list">
            <li>Pilih gambar daun padi.</li>
            <li>Kemudian klik tombol Identifikasi.</li>
            <li>Tunggu hingga hasil indentifikasi tampil.</li>
        </ul>
    </div>
    {% endif %}

</main>

{% include './layout/footer.html' %}