{% load static %}
{% include './layout/header.html' %}

<main class="container">
    <form method="POST" enctype="multipart/form-data" class="form">{% csrf_token %}
        <label for="gambar" class="input-group">Pilih gambar daun padi.
            <input type="file" name="gambar" id="gambar" required>
        </label>
        <button type="submit" class="upload-btn">Identifikasi</button>
    </form>

    <span class="loading">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon icon--loading">
            <g data-name="Layer 2">
                <g data-name="loader">
                    <rect width="24" height="24" transform="rotate(180 12 12)" opacity="0" />
                    <path d="M12 2a1 1 0 0 0-1 1v2a1 1 0 0 0 2 0V3a1 1 0 0 0-1-1z" />
                    <path d="M21 11h-2a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2z" />
                    <path d="M6 12a1 1 0 0 0-1-1H3a1 1 0 0 0 0 2h2a1 1 0 0 0 1-1z" />
                    <path d="M6.22 5a1 1 0 0 0-1.39 1.47l1.44 1.39a1 1 0 0 0 .73.28 1 1 0 0 0 .72-.31 1 1 0 0 0 0-1.41z" />
                    <path
                        d="M17 8.14a1 1 0 0 0 .69-.28l1.44-1.39A1 1 0 0 0 17.78 5l-1.44 1.42a1 1 0 0 0 0 1.41 1 1 0 0 0 .66.31z" />
                    <path d="M12 18a1 1 0 0 0-1 1v2a1 1 0 0 0 2 0v-2a1 1 0 0 0-1-1z" />
                    <path d="M17.73 16.14a1 1 0 0 0-1.39 1.44L17.78 19a1 1 0 0 0 .69.28 1 1 0 0 0 .72-.3 1 1 0 0 0 0-1.42z" />
                    <path
                        d="M6.27 16.14l-1.44 1.39a1 1 0 0 0 0 1.42 1 1 0 0 0 .72.3 1 1 0 0 0 .67-.25l1.44-1.39a1 1 0 0 0-1.39-1.44z" />
                </g>
            </g>
        </svg>Sedang diproses, mohon tunggu...
    </span> 

    {% if url %}
    <div class="result">
        <div class="result-image result-box">
            <span class="result-title">Gambar:</span>
            <img class="img-uploaded" src="{{ url }}" alt="">
        </div>
        <div class="result-label result-box">
            <span class="result-title">Nama OPT:</span>
            <strong>{{ label }}</strong>
        </div>
    </div>
    {% else %}
    <div class="instruction">
        <span style="margin-left: -20px;">Petunjuk:</span>
        <ol style="margin: 1rem 0;">
            <li>Pilih gambar daun padi.</li>
            <li>Disarankan untuk menggunakan gambar dengan ukuran file dibawah 1M dan ukuran gambar 256x256 piksel.</li>
            <li>Kemudian klik tombol Identifikasi.</li>
            <li>Tunggu hingga hasil indentifikasi tampil.</li>
        </ol>
    </div>
    {% endif %}

</main>

<script>
    const btn = document.querySelector('.upload-btn')
    const loading = document.querySelector('.loading')
    const form = document.querySelector('.form')

    form.addEventListener('submit', showLoading)

    function showLoading() {
        loading.classList.add('open');
    }

</script>

{% include './layout/footer.html' %}