{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Identifikasi OPT</title>
    <link rel="stylesheet" href="{% static 'css/padi.css' %}">
</head>
<body>
    

    <div class="container">
        <nav>
            <div class="nav-brand">
                <strong class="app-title">Indentifikasi OPT Tanaman Padi</strong>
            </div>
            <ul class="navbar">
                <li class="nav-item"><a href="/" class="nav-link active">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Tentang</a></li>
            </ul>
        </nav>
        
        <header>
            <img class="header-banner" src="{% static 'img/header-banner.jpg' %}" alt="header-banner">
        </header>

        <main>
            <!-- <div class="dataset">

            </div> -->
            <form method="POST" enctype="multipart/form-data" class="form">{% csrf_token %}
                <label for="gambar">Pilih gambar daun padi.
                    <input type="file" name="gambar" id="gambar" required>
                </label>
                <button type="submit" class="upload-btn">Identifikasi</button>
            </form>
            {% if url %}
            <div class="result">
                <div class="result-image result-box">
                    <span class="result-title">Gambar:</span>
                    <img class="img-uploaded" src="{{ url }}" alt="">
                </div>
                <div class="result-label result-box">
                    <span class="result-title">Nama OPT:</span>
                    <strong>{{ label }}</strong>
                </div>
            </div>
            {% else %}
            <div class="instruction">
                <span style="margin-left: -20px;">Petunjuk:</span>
                <ol style="margin: 1rem 0;">
                    <li>Pilih gambar daun padi.</li>
                    <li>Disarankan untuk menggunakan gambar dengan ukuran file dibawah 1M dan ukuran gambar 256x256 piksel.</li>
                    <li>Kemudian klik tombol Identifikasi.</li>
                    <li>Tunggu hingga hasil indentifikasi tampil.</li>
                </ol>
                <span style="margin: 1rem 0px; display: none;" class="loading">Sedang diproses, mohon tunggu...</span>
                <span style="margin-left: -20px;">Informasi:</span>
                <ol style="margin: 1rem 0;">
                    <p style="margin-left: -20px;">Sistem ini mampu mendeteksi hingga 4 OPT diantaranya:</p>
                    <li>Bercak Daun Coklat (<i>Brown Spot</i>)</li>
                    <li>Sehat (<i>Healthy</i>)</li>
                    <li>Hispa</li>
                    <li>Blas Daun (<i>Leaf Blast</i>)</li>
                </ol>
            </div>
            {% endif %}            
        </main>
        
    </div>

    <script>
        const btn = document.querySelector('.upload-btn')
        const loading = document.querySelector('.loading')
        const form = document.querySelector('.form')


        form.addEventListener('submit', showLoading)

        function showLoading(){
            loading.style.display = 'block';
        }

    </script>
</body>
</html>