<script>
    const menu = document.querySelector(".menu");
    const drawer = document.querySelector(".drawer");
    const closeDrawer = document.querySelector('.close-drawer');

    menu.addEventListener('click', showDrawer);
    closeDrawer.addEventListener('click', () => {
        drawer.classList.remove('open')
    })

    function showDrawer() {
        drawer.classList.add('open')
        if (document.body.clientHeight > 740) {
            drawer.style.height = (document.body.clientHeight + 25) + 'px';
        }
    }
</script>
</body>

</html>