{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OPT Padi</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% if path == '/' %} <link rel="stylesheet" href="{% static 'css/home.css' %}"> {% endif %}
    {% if path == '/info/' %} <link rel="stylesheet" href="{% static 'css/info.css' %}"> {% endif %}
    {% if path == '/about/' %} <link rel="stylesheet" href="{% static 'css/about.css' %}"> {% endif %}
</head>

<body>
    <header class="header">
        <nav class="nav">
            <img src="{% static 'icons/menu.svg' %}" alt="menu" class="nav__icon nav__icon--menu">
            <div class="nav__brand">
                <p class="nav__title">Identifikasi OPT Padi</p>
            </div>
    
            <!-- navigation -->
            <ul class="nav__list hidden">
                <li class="nav__item">
                    <a href="/" class="nav__link {% if path == '/' %} active {% endif %}">
                        <span class="nav__text">Beranda</span>
                    </a>
                </li>
                <li class="nav__item">
                    <a href="/info" class="nav__link {% if path == '/info/' %} active {% endif %}">
                        <span class="nav__text">Informasi</span>
                    </a>
                </li>
                <li class="nav__item">
                    <a href="/about" class="nav__link {% if path == '/about/' %} active {% endif %}">
                        <span class="nav__text">Tentang</span>
                    </a>
                </li>
            </ul>
        </nav>
    
        <!-- mobile nav -->
        <div class="nav nav--mobile hidden">
            <img src="{% static 'icons/close.svg' %}" alt="close" class="nav__icon nav__icon--close">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="/" class="nav__link {% if path == '/' %} active {% endif %}">
                        <span class="nav__text">Beranda</span>
                    </a>
                </li>
                <li class="nav__item">
                    <a href="/info" class="nav__link {% if path == '/info/' %} active {% endif %}">
                        <span class="nav__text">Informasi</span>
                    </a>
                </li>
                <li class="nav__item">
                    <a href="/about" class="nav__link {% if path == '/about/' %} active {% endif %}">
                        <span class="nav__text">Tentang</span>
                    </a>
                </li>
            </ul>
        </div>
    </header>

    <section class="banner">
        <img class="banner__img" src="{% static 'img/header-banner.jpg' %}" alt="Banner">
    </section>